// Variables > Colors

$base-color: #e4dfd7;
$dark-color: #5d686d;
$white: #fff;
$teal: #c0d8d5;
$olive: #dbd8b9;
$cool-grey: #c9c9c9;

// Secondary Colors

$pink: #eac9c6;
$blue: #b5d2de;
$purple: #d0cade;
$beige: #eacfbc;

// Graadient
$base-gradient: linear-gradient(345deg, rgba(191,184,173,1) 0%, rgba(228,223,215,1) 100%);