// 2_variables > typography

@use 'fonts' as *;
@use 'colors' as *;

// @use 'colors' as *;



// * Typography

// Mobile first
$padding-main: 1.3rem;

// Medium-screen
$padding-med: 2rem;

// large-screen
$padding-lrg: 5rem;

html {
  font-family: $main-font;
  color: $dark-color;
}

// #main-wrapper {

// }

.shorten-line {
  letter-spacing: -0.2rem;
}

// ** Highlighted Text

@mixin highlight-text {
  font-family: $mono-font;
  font-style: italic;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  // width: fit-content;
}

.hero__highlight-text {
  @include highlight-text;
  margin: 1.35em 0; 
}

.hl-teal {
  background-color: $teal;
}