// 2_variables > typography

@use 'fonts' as *;
@use 'colors' as *;
// @use '../abstracts' as *;



// * Base Typography

// Mobile first
$padding-main: 6%;

$padding-xs: 1rem;

// Medium-screen
$padding-med: 2rem;

// large-screen
$padding-lrg: 5rem;

html {
  font-family: $main-font;
  color: $dark-color;
}



// ** Long em dash hack inside a paragraph

.shorten-line {
  letter-spacing: -0.2rem;
}

// ** Highlighted Text

@mixin hl-txt {
  font-family: $mono-font;
  font-style: italic;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  margin: 1.35em 0;
  transform: rotate(-1.5deg);
  font-size: 0.85rem;
  margin-left: $padding-main; 

  @media screen and (min-width: 641px) and (max-width: 1007px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1008px) {
    font-size: 1.15rem;
  }

}

.hl-txt--teal {
  @include hl-txt;
  background-color: $teal;
}

.hl-txt--olive {
  @include hl-txt;
  background-color: $olive;
}




// ** Testing purpose only

.test-lipsum {
  font-size: 1rem;
  line-height: 1.618;
}