// layout > base

@use '../abstracts' as *;
@use '../variables' as *;
@use '../components' as *;


html {
  background-color: $base-color;
  scroll-behavior: smooth;
}


// !! Can't seem to position a background at the bottom of the page
// #main-wrapper {
//   background-color: $base-color;

//   &__bg {
//     background-image: url("../../img/bg_footer_cloud_02t_blue_2560x1081.gif");
//     background-repeat: no-repeat;
//     background-size: cover;
//     max-height: 50vw;
//     position: absolute;
//     bottom: 0;
//   }

// }


.grid-wrapper {
  // for preview only
  // background-color: rgba(lightyellow, 0.3);
  //
  min-height: 100vh;
  min-width: 100%;
  // padding: $padding-main;
  padding-top: 0;
  // grid layout
  display: grid;
  grid-template-rows: repeat(autofit, min-max(5%, 1fr, 1fr, 10%));
  grid-template-columns: 1fr;

  
  // @include xs-screen {
  //   padding: $padding-xs;
  // }


  @include med-screen {
    padding: $padding-med;
    padding-top: 0;
  }

  @include lrg-screen {
    padding: $padding-lrg;
    padding-top: 0;
  }  

}
