// layout > footer

@use '../variables' as *;

// ** Footer - main-footer

footer {
  background-color: rgba(teal, 0.05);

  & ul {
      margin: 0 auto;
    }
  
  & li {
    list-style: none;
    display: inline-block;
  }
}

// // * Footer - Bottom BG (attempt no 3)

// .btm-bg {
//     // BG
//     min-height: 20vh;
//     background-image: url("../../img/bg_footer_cloud_03t_beige_1560x659.gif");
//     background-repeat: no-repeat;
//     background-position: bottom;
//     background-size: cover;
//     background-attachment: scroll;
//     z-index: -5;
//     bottom: 0;
// }


.btm-c {
  margin: 0 auto;
  width: 100%;
  padding: $padding-main 0;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-content: space-evenly;

  &__socmed {
    text-align: center;
    margin: 5% auto;
    font-size: 1.4em;
  }

  &__signature{
    margin: 0 auto;
  }
}

.signature {
  // font-family: $mono-font;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}


