// layout > header
@use '../variables' as *;



// header : top-c : 'c' for 'container'
.top-c {
  background-color: rgba($base-color, 1);
  padding: 15px $padding-main;
  position: sticky;
  top: 0;
  z-index: 20;
  max-width: 100%;
  // border-bottom: 1px solid $dark-color;
}