// layout > header
@use '../variables' as *;

// original attempt using flex layout

#top-nav {
  // width: 100vw;
  // display: flex;
  height: 15%;
}

// header : top-c : 'c' for 'container'
.top-c {
  background-color: rgba($base-color, 1);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 20;
  // border-bottom: 1px solid $dark-color;
  
} 