// 3_pages > nav

@use '../abstracts' as *;
@use '../variables' as *;


// General settings

nav {
  
  & ul {
    margin: 0 auto;
  }

  & li {
    list-style: none;
    display: inline-block;
  }
}

// ** TOP-C NAVIGATION top-c__nav
// top-c container is in header

// ** based on = mobile first < med < lrg screen
// !! Sadly can't use calc() for media quieries!
$logo-size: 70px;
$menu-item-size: 38px;



.top-c__nav {
  display: flex;
  // justify-content: flex-start;
  // align-items: center;

  &-logo {
    width: $logo-size;

    @include med-screen {
      width: 100px;
    }

    @include lrg-screen {
      width: 120px;
    }

  }

  &-menu {
    display: flex;
    align-items: center;
  }

  &-menu__item {
    border: 1px solid lightgrey;
    width: $menu-item-size;
    margin-left: 0.5rem;

    @include med-screen {
      width: 45px;
    }

    @include lrg-screen {
      width: 54px;
    }

    &:first-child {
      margin-left: 0;

    // & img:hover {
    //   @include transition-std;
    //   transform: scale(1.5);
    //   }
  
  // &-menu__item img:hover {
  //   opacity: 0.5;
  // }
    
    }
  }
}


// Original flex layout attempt

.main-nav {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15%;

  &__logo {
    
    width: 68px;
  

  }

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__menu-item {
    border: 1px solid lightgrey;
    width: 35px;
    margin-right: 2.5%;

    &:first-child {
      margin-left: 0;
    }
  }
}


