// 3_pages > nav

@use '../abstracts' as *;
@use '../variables' as *;


nav {
  
  & ul {
    margin: 0 auto;
  }

  & li {
    list-style: none;
    display: inline-block;
  }
}

.main-nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15%;

  &__logo {
    width: 80px;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__menu-item {
    border: 1px solid lightgrey;
    width: 35px;
    margin-left: 2.5%;

    &:first-child {
      margin-left: 0;
    }
  }
}

