// components > buttons

@use '../variables' as *;

.hr-line {
  height: 1px;
  flex: 1;
  background-color: $dark-color;

  &-nav {
    margin: auto 1em;
  }

}

.hr-line-short {
  height: 1px;
  width: 60px;
  margin: 1.5em 0;
  background-color: $dark-color;
  margin-left: $padding-main;
}


// * Insert line inline

.line {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: $dark-color;
    // min-width: 20px;
    margin: auto;
  }

  &:after {
    margin-left: 0.8em;
  }
}