// 6_pages > journal

@use '../abstracts' as *;
@use '../variables' as *;
@use '../layout' as *;
@use '../components' as *;

// * JOURNAL POSTS / CARDS

.journal-c {
  max-width: 1200px;
  padding: 1.25rem;

  // * Grid layout
  display: grid;
  grid-template-columns: 1fr;

  @include med-screen {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: $padding-med;

  }

  @include lrg-screen {

    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: repeat(2, 1fr);

    padding: $padding-lrg;

  }


  &__card-1-txt {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
    }


    &__btm {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }

  }

}

.hr-line-card {
  margin: 0 0.8rem;
}



// * CARD - typography

.card {

  &-date {
    font-family: $mono-font;
    font-size: 1rem;
    line-height: 1.618;
  }

  &-day {
    font-size: 2rem;
    font-family: $mono-font;
    font-weight: 400;
    
  }
  
  &-title {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-top: 1rem;
  }

  &-title-small {
    font-size: 1.15rem;

  }

  &-body {
    line-height: 1.618;
  }

  // * CARD COLORS

  &-teal { background-color: rgba($teal, 1); }
  &-olive { background-color: rgba($olive, 1); }
  &-pink { background-color: rgba($pink, 1); }
  &-purple { background-color: rgba($purple, 1); }
  &-cool-grey { background-color: rgba($cool-grey, 1); }

}

// * Individual journal cards / posts

// .grid-item {

//   &__span-2 {
//     ;
//   }

// }