@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: "Work Sans", Helvetica, sans-serif;
  color: #5d686d;
}

.shorten-line {
  letter-spacing: -0.2rem;
}

.hl-txt--teal {
  font-family: "Space Mono", monospace;
  font-style: italic;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  margin: 1.35em 0;
  transform: rotate(-1.5deg);
  font-size: 0.85rem;
  background-color: #c0d8d5;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .hl-txt--teal {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1008px) {
  .hl-txt--teal {
    font-size: 1.15rem;
  }
}

.hl-txt--olive {
  font-family: "Space Mono", monospace;
  font-style: italic;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  margin: 1.35em 0;
  transform: rotate(-1.5deg);
  font-size: 0.85rem;
  background-color: #dbd8b9;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .hl-txt--olive {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1008px) {
  .hl-txt--olive {
    font-size: 1.15rem;
  }
}

.test-lipsum {
  font-size: 1rem;
  line-height: 1.618;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgba(0, 128, 128, 0.05);
}
footer ul {
  margin: 0 auto;
}
footer li {
  list-style: none;
  display: inline-block;
}

.btm-c {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-content: space-evenly;
}
.btm-c__socmed {
  text-align: center;
  margin: 5%;
  font-size: 1.4em;
}
.btm-c__signature {
  margin: 0 auto;
}

.signature {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.top-c {
  background-color: #e4dfd7;
  padding: 15px 6%;
  position: sticky;
  top: 0;
  z-index: 20;
  max-width: 100%;
}

main {
  background-color: rgba(255, 182, 193, 0.1);
}

#mid-c {
  padding: 6%;
}

.mid-c__title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .mid-c__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media screen and (min-width: 1008px) {
  .mid-c__title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
.mid-c__subheading {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-top: 2rem;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .mid-c__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-right: 10%;
  }
}
@media screen and (min-width: 1008px) {
  .mid-c__subheading {
    padding-right: 10%;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
.mid-c__body {
  margin: 1.25rem auto;
  line-height: 1.618;
}
.mid-c__body bold {
  font-weight: 600;
}

.c-grid {
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
}
.c-grid__col-right img {
  width: 80%;
  padding-left: 20%;
}

nav ul {
  margin: 0 auto;
}
nav li {
  list-style: none;
  display: inline-block;
}

.top-c__nav {
  display: flex;
}
.top-c__nav-logo {
  width: 70px;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .top-c__nav-logo {
    width: 100px;
  }
}
@media screen and (min-width: 1008px) {
  .top-c__nav-logo {
    width: 120px;
  }
}
.top-c__nav-menu {
  display: flex;
  align-items: center;
}
.top-c__nav-menu__item {
  border: 1px solid lightgrey;
  width: 38px;
  margin-left: 0.5rem;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .top-c__nav-menu__item {
    width: 45px;
  }
}
@media screen and (min-width: 1008px) {
  .top-c__nav-menu__item {
    width: 54px;
  }
}
.top-c__nav-menu__item:first-child {
  margin-left: 0;
}

.main-nav {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}
.main-nav__logo {
  width: 68px;
}
.main-nav__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-nav__menu-item {
  border: 1px solid lightgrey;
  width: 35px;
  margin-right: 2.5%;
}
.main-nav__menu-item:first-child {
  margin-left: 0;
}

.btn-sqr-std {
  padding: 10px 1.5rem;
  border: 1px solid #5d686d;
  color: #5d686d;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background-color: white;
  margin-bottom: 1.25rem;
  margin-top: 0;
}
.btn-sqr-std:hover {
  background-color: #5d686d;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hr-line {
  height: 1px;
  flex: 1;
  background-color: #5d686d;
}
.hr-line-nav {
  margin: auto 1em;
}

.hr-line-short {
  height: 1px;
  width: 60px;
  margin: 1.5em 0;
  background-color: #5d686d;
}

.fab {
  color: #5d686d;
}

.fa-cloud {
  color: #c0d8d5;
}

html {
  background-color: #e4dfd7;
  scroll-behavior: smooth;
}

.grid-wrapper {
  min-height: 100vh;
  min-width: 100%;
  padding-top: 0;
  display: grid;
  grid-template-rows: repeat(autofit, min-max(5%, 1fr, 1fr, 10%));
  grid-template-columns: 1fr;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .grid-wrapper {
    padding: 2rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 1008px) {
  .grid-wrapper {
    padding: 5rem;
    padding-top: 0;
  }
}

* {
  border: 1px solid rgba(128, 128, 128, 0.1);
}

* {
  border: 1px solid rgba(128, 128, 128, 0.1);
}

/*# sourceMappingURL=style.css.map */
