@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: "Work Sans", Helvetica, sans-serif;
  color: #5d686d;
}

.shorten-line {
  letter-spacing: -0.2rem;
}

.hl-txt--teal {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  margin: 2em 0 4rem 0;
  transform: rotate(-1.5deg);
  font-size: 0.85rem;
  margin-left: 6%;
  background-color: #c0d8d5;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .hl-txt--teal {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1008px) {
  .hl-txt--teal {
    font-size: 1.3rem;
  }
}

.hl-txt--olive {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  margin: 2em 0 4rem 0;
  transform: rotate(-1.5deg);
  font-size: 0.85rem;
  margin-left: 6%;
  background-color: #dbd8b9;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .hl-txt--olive {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1008px) {
  .hl-txt--olive {
    font-size: 1.3rem;
  }
}

.test-lipsum {
  font-size: 1rem;
  line-height: 1.618;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer ul {
  margin: 0 auto;
}
footer li {
  list-style: none;
  display: inline-block;
}

.btm-c {
  margin: 1.5rem auto;
  width: 100%;
  padding: 6% 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  justify-content: space-evenly;
}
.btm-c__socmed {
  text-align: center;
  margin: 5% auto;
  font-size: 1.4em;
}
.btm-c__signature {
  margin: 0 auto;
}

.signature {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.top-c {
  background-color: #e4dfd7;
  padding: 15px 6%;
  position: sticky;
  top: 0;
  z-index: 20;
  max-width: 100%;
}

#mid-c {
  padding: 6%;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  #mid-c {
    padding: 0;
  }
}

.mid-c__title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  padding: 0 6%;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .mid-c__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media screen and (min-width: 1008px) {
  .mid-c__title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
.mid-c__subheading {
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-top: 2rem;
  padding: 0 6%;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .mid-c__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-right: 10%;
  }
}
@media screen and (min-width: 1008px) {
  .mid-c__subheading {
    padding-right: 30%;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
.mid-c__body {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-right: 2rem;
  line-height: 1.618;
}
.mid-c__body bold {
  font-weight: 600;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .mid-c__body {
    padding-right: 10%;
  }
}
@media screen and (min-width: 1008px) {
  .mid-c__body {
    padding-right: 10%;
    font-size: 1.2rem;
  }
}

nav ul {
  margin: 0 auto;
}
nav li {
  list-style: none;
  display: inline-block;
}

.top-c__nav {
  display: flex;
}
.top-c__nav-logo {
  width: 70px;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .top-c__nav-logo {
    width: 100px;
  }
}
@media screen and (min-width: 1008px) {
  .top-c__nav-logo {
    width: 120px;
  }
}
.top-c__nav-menu {
  display: flex;
  align-items: center;
}
.top-c__nav-menu__item {
  width: 38px;
  margin-left: 0.5rem;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .top-c__nav-menu__item {
    width: 45px;
  }
}
@media screen and (min-width: 1008px) {
  .top-c__nav-menu__item {
    width: 54px;
  }
}
.top-c__nav-menu__item:first-child {
  margin-left: 0;
}

.main-nav-old {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}
.main-nav-old__logo {
  width: 68px;
}
.main-nav-old__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-nav-old__menu-item {
  border: 1px solid lightgrey;
  width: 35px;
  margin-right: 2.5%;
}
.main-nav-old__menu-item:first-child {
  margin-left: 0;
}

#sect-c {
  padding: 0 6%;
  max-width: 100%;
}

section ul {
  list-style: none;
  margin-left: 2.65rem;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .sect-c {
    padding: 2rem;
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 1008px) {
  .sect-c {
    padding: 4rem;
    grid-gap: 6rem;
  }
}
.sect-c__subheading {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.exp-list li {
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}
.exp-list li::marker {
  content: "—   ";
}
.exp-list__date {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.618;
}
.exp-list__job {
  line-height: 1.35;
  font-size: 1.25rem;
  font-weight: 600;
}
.exp-list__job em {
  font-size: 1.25rem;
  font-weight: 600;
}

.pa-list li {
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}
.pa-list li::marker {
  content: "—   ";
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .col-skills {
    grid-column: 2fr;
  }
}

.btn-sqr-std {
  padding: 10px 1.5rem;
  border: 1px solid #5d686d;
  color: #5d686d;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background-color: white;
  margin-bottom: 1.25rem;
  margin-top: 0;
  transition: all 0.3s;
}
.btn-sqr-std:hover {
  background-color: #5d686d;
  color: white;
  transition: all 0.3s;
}

.btn-sqr-card {
  padding: 10px 1.5rem;
  border: 1px solid #5d686d;
  color: #5d686d;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 0;
  margin-top: 0;
  transition: all 0.3s;
}
.btn-sqr-card:hover {
  background-color: white;
  color: #5d686d;
  transition: all 0.3s;
}

.btn-circle {
  padding: 10px 1.5rem;
  border: 1px solid #5d686d;
  color: #5d686d;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}
.btn-circle:hover {
  background-color: white;
  color: #5d686d;
  transition: all 0.3s;
}

.hr-line {
  height: 1px;
  flex: 1;
  background-color: #5d686d;
}
.hr-line-nav {
  margin: auto 1em;
}

.hr-line-short {
  height: 1px;
  width: 60px;
  margin: 1.5em 0;
  background-color: #5d686d;
  margin-left: 6%;
}

.line {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.line:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #5d686d;
  margin: auto;
}
.line:after {
  margin-left: 0.8em;
}

.fab {
  color: #5d686d;
}

.object-fit_contain {
  width: 100%;
  object-fit: contain;
}

.profile-pic {
  padding: 6%;
  width: 90%;
  object-fit: contain;
}
@media screen and (min-width: 1008px) {
  .profile-pic {
    width: 80%;
    margin-left: 5rem;
  }
}

.skill-item {
  width: 90%;
  object-fit: contain;
  max-width: 85px;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .skill-item {
    max-width: 100px;
  }
}
@media screen and (min-width: 1008px) {
  .skill-item {
    max-width: 130px;
  }
}

.menu__item {
  transition: all 0.3s;
}
.menu__item:hover {
  opacity: 0.85;
  transition: all 0.3s;
}

.img-cuppa {
  width: 90%;
  object-fit: contain;
}

html {
  background-color: #e4dfd7;
  scroll-behavior: smooth;
}

.meta-c-grid {
  min-height: 100vh;
  min-width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-rows: repeat(autofit, min-max(5%, 1fr, 1fr, 10%));
  grid-template-columns: 1fr;
}

.c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .c-grid {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1008px) {
  .c-grid {
    padding: 4rem;
  }
}
.c-grid__col-right {
  align-self: center;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .c-grid__col-right {
    align-self: end;
  }
}
.c-grid-3col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .c-grid-3col {
    grid-template-columns: 1fr;
  }
}
.c-grid__col-span {
  grid-column: span 3;
}
.c-grid__col-left {
  padding: 0 6%;
}
.c-grid__col-right {
  align-self: end;
}

.c-flex {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.skill-item {
  flex: 0 1 auto;
}

.mid-c__contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.contact-form-c {
  max-width: 800px;
  padding: 6%;
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid #5d686d;
  margin: 5% auto;
}

#fs-frm {
  text-align: center;
}
#fs-frm-inputs {
  border: 0;
}

input, textarea {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #5d686d;
  margin: 1.5rem 0;
  font-family: "Space Mono", monospace;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
input:focus, textarea:focus {
  background-color: #e4dfd7;
  border: 2px solid #5d686d;
}

textarea {
  height: 8rem;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 180px;
  text-align: center;
  padding: 10px 1.5rem;
  border: 1px solid #5d686d;
  color: #5d686d;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  color: white;
  background-color: #5d686d;
  transition: all 0.3s;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: white;
  color: #5d686d;
  transition: all 0.3s;
}

.mid-c__contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 5%;
}

.journal-c {
  max-width: 80% x;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .journal-c {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
  }
}
@media screen and (min-width: 1008px) {
  .journal-c {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    padding: 5rem;
  }
}
.journal-c__card-1-txt {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .journal-c__card-1-txt {
    padding: 2rem;
  }
}
@media screen and (min-width: 1008px) {
  .journal-c__card-1-txt {
    padding: 2rem;
  }
}
.journal-c__card-1-txt__top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.journal-c__card-1-txt__btm {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.hr-line-card {
  margin: 0 0.8rem;
}

.card-date {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  line-height: 1.618;
  margin-top: 1.5rem;
}
.card-date:first-child {
  margin-top: 0;
}
.card-day {
  font-size: 2rem;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}
.card-title {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 1rem;
}
.card-title-small {
  font-size: 1.15rem;
}
.card-body {
  line-height: 1.618;
}
.card-teal {
  background-color: #c0d8d5;
}
.card-olive {
  background-color: #dbd8b9;
}
.card-pink {
  background-color: #eac9c6;
}
.card-purple {
  background-color: #d0cade;
}
.card-cool-grey {
  background-color: #c9c9c9;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .btn-circle, .btn-circle-up {
    display: none;
  }
}
@media screen and (min-width: 1008px) {
  .btn-circle, .btn-circle-up {
    display: none;
  }
}

.journal-menu li {
  line-height: 2rem;
}
.journal-menu p {
  line-height: 1.25;
  padding-bottom: 0.65rem;
}
.journal-menu-heading {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.journal-menu-heading {
  border-left: 1px solid #5d686d;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .journal-menu-heading {
    border-left: 0;
  }
}

.journal-menu {
  border-left: 1px solid #5d686d;
  padding-left: 2.5rem;
  list-style: none;
  text-transform: capitalize;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .journal-menu {
    display: none;
  }
}
.journal-menu a {
  text-decoration: none;
  color: #5d686d;
  transition: all 0.3s;
}
.journal-menu a:hover {
  color: rgba(93, 104, 109, 0.5);
  transition: all 0.3s;
}
.journal-menu-short {
  list-style: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem;
  font-family: "Space Mono", monospace;
  word-spacing: -0.25rem;
  line-height: 2;
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .journal-menu-short {
    display: none;
  }
}
@media screen and (min-width: 1008px) {
  .journal-menu-short {
    display: none;
  }
}
.journal-menu-short a {
  font-weight: 600;
  text-decoration: none;
  color: #5d686d;
  transition: all 0.3s;
}
.journal-menu-short a:hover {
  color: rgba(93, 104, 109, 0.5);
  transition: all 0.3s;
}

@media screen and (min-width: 1008px) {
  .journal-menu-c {
    align-self: end;
  }
}

/*# sourceMappingURL=style.css.map */
