// abstracts > mixins

@use '../variables' as *;


@mixin transition-std {
  transition: $transition-std;
}

@mixin btn-sqr {
  padding: 10px 1.5rem;
  border: 1px solid $dark-color;
  color: $dark-color;
  font-family: $mono-font;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}